
* {
    margin:0;
    padding:0;
}


body{
    font-family: "New Peninim MT", serif;
    background-color: white;
    z-index: 0;
}

/** Instructions component */
.instructions {
    border: 1px solid black;
    width: 400px;
}

.instructions h3{
    padding: 1em;
}



/** Login component **/
.container{
    width: fit-content;
    border: 1px solid black;
}

.login-box{

    padding:    1em;
    border:     1px solid black;
    margin:     1em;
    width:      fit-content;
    z-index:    1;

}

.form{
    border: 1px solid black;
}

div .form-box{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
}


.flex-item{
    width: fit-content;
    margin: 0.05em 0 0.05em 0;

}

.login-btn{
    border: black solid 1px;
    position: relative;
    padding: .2rem;
    width: fit-content;
}

.article{
    width: 700px;
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;

}

.article-header{
    position: relative;
    font-family: "Seravek", cursive;
}


section .article-image {
    width: inherit;
    margin: 4rem;
    border: 1px solid black;
}

